body{
    background-image: url("../images/baum.png");
    background-size: 55em;
    opacity: 85;
}

.whiteBox
{
    background-color: rgba(245, 245, 245, 0.664);
    margin: 2em;
    padding-bottom: 20em;
}

.margin{
    margin: 2em;
}
.centered
{
    text-align: center;
}

.indexTitle{
    position: relative;
    top: 3em;
    text-align: center;
    color:rgb(63, 84, 102);
    font-family:papyrus,fantasy;
    font-size: 3em;
}

button{ 
    position: relative;
    float: left;
    text-decoration: rgb(73, 90, 105);
    background-color: rgba(61, 68, 60, 0.822);
    left: 30em;
    top: 11em;
    margin-right:2em;
    width: 8em;
   
}
