body {
    background-image: url("../images/wald.png");
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    font-family: Candara, fantasy;
    opacity: 85;
}

.distance{
   margin-top: 4em;
}

.steak{
    margin-top: 2em;
    clear: left;
}
.centered-menu{
    text-align: center;
}
img{
    border: 2px solid black;
    border-radius: 3em;
    background-color: rgba(217, 226, 224, 0.342);
    height: 11em;
    float: left;
    margin-right: 3em;
}
.navigationBar {
    list-style-type: none;
    margin: -0.5em;
    padding: 0;
    overflow: hidden;
    background-color: rgb(96, 84, 94);
}

li {
    padding-left: 2em ;
    padding-right: 2em;
    display: inline-block;
    text-align: left;
}

li a {
    display: block;
    color: rgb(204, 232, 225);
    text-align: center;
    padding: 25px;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(74, 15, 57);
}


.whiteBox {
    background-color: rgba(245, 245, 245, 0.664);
    margin:5em;
    padding-bottom: 0.5em;
}

.margin {
    margin: 2em;
}

.centered {
    text-align: center;
}

.indexTitle {

    top: 3em;
    text-align: center;
    color: rgb(63, 84, 102);
    font-family: papyrus, fantasy;
    font-size: 3em;
}

button {

    display: inline-block;
    text-decoration: rgb(73, 90, 105);
    background-color: rgba(61, 68, 60, 0.822);
    margin-right: 2em;
    width: 10em;
    height: 2.5em;
}
